@font-face {
    font-family: 'Press Start 2P-Regular';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P-Regular')
    url(./PressStart2P-Regular.woff) format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Inter-Variable';
    font-style: normal;
    src: local('Inter-Variable')
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
    font-weight: 100 900;
}
