@font-face {
    font-family: 'PressStart2P';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('PressStart2P-Regular')
    url(./PressStart2P-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Inter-Variable';
    font-display: swap;
    font-style: normal;
    src: local('Inter-Variable')
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
    font-weight: 100 900;
}
