/* 
Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--wght-main-text);
}

.header {
  background-image: var(--gradient-to-right), var(--gradient-to-bottom), var(--third-gradient);
  background-size: cover;
  background-position: fixed;
  inline-size: var(--width-block);
}
