/* 
Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  block-size: 100vh;
  inline-size: 100dvi;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--wght-main-text);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.header {
  inline-size: var(--width-block);
  font-family: var(--accent-font);
  vertical-align: bottom;
  display: grid;
  margin-inline: auto;
  justify-content: center;
  border: solid 2px #000;
  padding-block: clamp(7.625rem, 8.1263rem - 2.1390vw, 8.125rem);
  padding-inline: clamp(1rem, -1.3437rem + 9.9996vw, 7.65625rem);
  margin-block: 100px;
  text-transform: uppercase;
}

.logo {
  font-size: clamp(3.0625rem, 1.7788rem + 5.4795vw, 4.0625rem);
  display: grid;
  justify-self: center;
}

.title {
  font-size: clamp(0.875rem, 0.1520rem + 3.0849vw, 1.4375rem);
  display: grid;
  justify-self: center;
}

.content {
  display: grid;
  gap: 50px;
}

.card {
  inline-size: var(--width-block);
  display: grid;
  justify-content: center;
  border: solid 2px #000;
  font-family: var(--main-font);
  font-size: 18px;
}

.card__title {
  font-variation-settings: 'wght' var(--wght-title);
  inline-size: 100%;
}

.label {
  inline-size: 6.125rem;
  block-size: 0.875rem;
  justify-self: end;
  align-self: start;
  mix-blend-mode: hard-light; /*доделать позиционирование и добавить прозрачности вместе с обводкой*/
}

.card__image {
  inline-size: clamp(23.1875rem, 100%, 43.5rem);
  block-size: clamp(23.1875rem, 16.0359rem + 30.5157vw , 43.5rem);
  border-block-start: solid 2px #000;;
  border-block-end: solid 2px #000;;
}

.card__description {
  display: grid;
  gap: 25px;
  margin: 25px;
}

.card__button {
  inline-size: 8.125rem;
  block-size: 2.375rem;
  background-color: transparent;
  border: 2px solid #000;
  font-family: var(--accent-font);
  justify-self: end;
}

.footer {
  padding: 50px clamp(2.15625rem, -1.1010rem + 13.8967vw , 11.40625rem) 100px;
  display: grid;
  justify-items: center;
}

.footer__button {
  block-size: clamp(5.25rem, 5.89rem + -2.72vw, 3.4375rem);
  inline-size: 100%;
  border: 2px solid #000;
  font-family: var(--accent-font);
  background-color: transparent;
}
