/* 
Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  block-size: 100vh;
  inline-size: 100dvi;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--wght-main-text);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.header {
  inline-size: var(--width-block);
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  display: grid;
  margin-inline: auto;
  text-align: center;
  border: solid 2px #000;
  padding-block: clamp(7.625rem, 8.1263rem - 2.1390vw, 8.125rem);
  padding-inline: clamp(1rem, -1.3437rem + 9.9996vw, 7.65625rem);
  margin-block: 100px;
  text-transform: uppercase;
  background-color: #fff;
}

.logo {
  font-size: clamp(3.0625rem, 1.7788rem + 5.4795vw, 4.0625rem);
  display: grid;
  justify-self: center;
}

.title {
  font-size: clamp(0.875rem, 0.1520rem + 3.0849vw, 1.4375rem);
  display: grid;
  justify-self: center;
}

.content {
  display: grid;
  gap: 50px;
}

.card {
  inline-size: var(--width-block);
  display: grid;
  justify-content: center;
  border: solid 2px #000;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-color: #fff;
}

.card__title {
  font-variation-settings: 'wght' var(--wght-title);
  inline-size: 100%;
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  z-index: 1;
  justify-self: end;
  align-self: start;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 0.875rem;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--label-stroke), -1px -1px 0 var(--label-stroke), -1px 1px 0 var(--label-stroke), 1px -1px var(--label-stroke);
}

@supports ((text-stroke) or (-webkit-text-stroke)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke);
    text-stroke: 1px var(--label-stroke);
  }
}

.card__image {
  inline-size: clamp(23.1875rem, 16.0359rem + 30.5157vw, 43.5rem);
  block-size: clamp(23.1875rem, 16.0359rem + 30.5157vw , 43.5rem);
  border-block-start: solid 2px #000;;
  border-block-end: solid 2px #000;;
}

.card__description {
  display: grid;
  gap: 25px;
  margin: 25px;
}

.card__button {
  inline-size: 8.125rem;
  block-size: 2.375rem;
  background-color: transparent;
  border: 2px solid #000;
  font-family: var(--accent-font), monospace;
  justify-self: end;
}

.button__text {
  line-height: 90%;
}

.filter__brightness {
  filter: brightness(130%);
}

.filter__contrast {
  filter: contrast(115%);
}

.filter__gray {
  filter: grayscale(0.8)
}

.filter__saturate {
  filter: saturate(200%);
}

.filter__hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__opacity {
  filter: opacity(0.9) saturate(200%);
}



.footer {
  padding: 50px clamp(2.15625rem, -1.1010rem + 13.8967vw , 11.40625rem) 100px;
  display: grid;
  justify-items: center;
  background-color: transparent;
}

.footer__button {
  block-size: clamp(5.25rem, 5.89rem + -2.72vw, 3.4375rem);
  inline-size: 100%;
  border: 2px solid #000;
  font-family: var(--accent-font), monospace;
  background-color: #fff;
  padding: 1.0625rem 1.25rem;
  display: grid;
  gap: 0.5rem;
}

.footer__button-icon {
  display: block;
  justify-self: center;
  block-size: clamp(1.75rem, 1.904rem + -0.657vb, 1.313rem);
}

.pop-up {
  font-family: var(--accent-font), monospace;
  font-size: 0.875rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out; /*исправить резиновую длину и отступы*/
}

@media (width <= 375px) {
  .pop-up {
    inline-size: 341px;
    padding: 1.875rem 2.5rem;
  }
}

@media (375px < width <= 1440px) {
  .pop-up {
    inline-size: 353px;
    padding: 1.875rem;
  }
}

.pop-up:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.pop-up::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 75%;
}

.pop-up__icon {
  block-size: 2.4375rem;
  align-self: center;
}

.pop-up__text {
  line-height: 150%;
  font-size: 0.875rem;
}

.pop-up__button {
  margin-block-start: 0.625rem;
  inline-size: 100%;
  block-size: 2.375rem;
  grid-column: 1/-1;
  line-height: 90%;
  border: 2px solid #000;
  background-color: #fff;
}
