:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --wght-main-text: 410;
    --wght-title: 715;
    --gradient-to-right: repeating-linear-gradient(to right, #d3d3d3 2px, transparent 2px 4px);
    --gradient-to-bottom: repeating-linear-gradient(to bottom, #d3d3d3 2px, transparent 2px 4px);
    --third-gradient: linear-gradient(0.01% to bottom #e7e7e7 , #1a1a1a) ;
}
